body {
  background: linear-gradient(-45deg, #FF6CC2, #ff6c78, #FF6CC2);
  	background-size: 800% 800%;
  	animation: gradient 5s ease infinite;
  }

  @keyframes gradient {
  	0% {
  		background-position: 0% 50%;
  	}
  	50% {
  		background-position: 100% 50%;
  	}
  	100% {
  		background-position: 0% 50%;
  	}
  }

.site {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.logo {
  display: block;
  margin-top: 10%;
  margin-left: 2%;
  order: 1;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 2.2;
  align-self: flex-end;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    order: 2;
    align-self: flex-end;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    flex-grow: 2.2;

}

.button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
}

/* Style the links inside the navigation bar */
.navbar a {
  flex-grow: 1;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 240%;
  font-family: 'Roboto', sans-serif;
}

/* Change the color of links on hover */
.navbar a:hover {
}

.twitch:hover {
  text-shadow: 2px 2px #694EA8;
  color: #9967cd;
}

.youtube:hover {
  text-shadow: 2px 2px #E20002;
  color: #f07f80;
}

.twitter:hover {
  text-shadow: 2px 2px #3FAFDE;
  color: #8bcfeb;
}

.discord:hover {
  text-shadow: 2px 2px #6D83D0;
  color: #a7b4e2;
}

.socials:hover {
  text-shadow: 2px 2px #49306B;
  color: #67306b;
}


.factsheets:hover {
  text-shadow: 2px 2px #FFAA6C;
  color: #ffcca6;
}
