body {
	background-color: black;
}

h1 {
	background-color: green;
}

img {
  width: 50%;
  height: auto;
  position: absolute;
  top: 20%;
  float:right;
  left: 5%;
  margin: 10px
}

table {
			color: white;
			position: absolute;
			top: 35%;
			float:right;
			left: 55%;
			margin: 10px;
			font-size: 280%;
			font-family: 'Roboto', sans-serif;


}

